<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head('Show all ads')" />
<body>
    <nav th:replace="fragments :: my-navbar"></nav>
    <div class="container">
        <h1>Posts Index Page</h1>
        <h2>Listing of all the posts</h2>

        <div th:each="ad : ${ads}">

            <div th:each="image : ${ad.images}">
                <img th:src="${image.path}" width="100px" height="100px" />
            </div>

            <h2>Title: <span th:text="${ad.title}"></span></h2>
            <h2>Body: <span th:text="${ad.description}"></span></h2>
            <h5>User: <span th:text="${ad.author.username}"></span></h5>
            <h5>Email: <span th:text="${ad.author.email}"></span></h5>
        </div>
    </div>
</body>
</html>