<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title th:text="${title}">Bloggy blog blog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>

<!-- basic bootstrap navbar -->
<nav th:fragment="my-navbar" class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Codeup</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li sec:authorize="isAuthenticated()"><a href="#" class="btn-link btn">Welcome, <span sec:authentication="name">Bob</span></a></li>
                <li><a href="/posts">View the Posts</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/posts/create">Create post</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
                </li>

                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<form th:fragment="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" th:field="*{title}"/>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input id="body" type="text" th:field="*{body}"/>
    </div>
    <button class="btn btn-default">Save</button>
</form>

<form th:fragment="adForm">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" th:field="*{title}"/>
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('title')}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:errors="*{title}" />
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input id="description" class="form-control" th:field="*{description}"/>
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('description')}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:errors="*{description}" />
        </div>
    </div>
    <button class="btn btn-default">Save</button>
</form>

<div th:fragment="scripts">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>

</html>