<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('hello world!')" />
<body>

    <nav th:replace="fragments :: my-navbar" />
    <div class="container">
        <h1>Log In</h1>

        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            <input type="submit" value="Log In" />
        </form>
    </div>

</body>
</html>